.main {
	padding: 10px;
}


.row {
	margin-top:10px;
}


.col {
	float: right;
	min-height: 1px;
	margin-left: 16px;
}

.col.col1 {
	width: 100px;
}

.col.col2 {
	width: 150px;
}

/* ------------  CLEARING  --
This technique was originally developed by Tony Aslett,
upgraded by Alex Robinson
-------------------------- */

.clearfix:after {
content: ".";
display: block;
height: 0px;
clear: both;
visibility: hidden;}
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clearboth {clear:both;}
